<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"  content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>PayPal Node App</title>
    </head>
    <body>
        <h1>Rapid XEM</h1>
        <h2>Payment Success</h2>
        <form >
            <h3>Details :</h3>
            ID : <%= data.id %><br>
            State : <%= data.state %><br>
            Cart No. : <%= data.cart %>
        </form>
    </body>
</html>